<div class="col col-lg-4 col-xs-6">
    <div class="grid">
        <div class="img-holder">
            <img src="assets/images/img-3-1.jpg" class="img img-responsive" alt="image">
        </div>
        <div class="details">
            <a href="../index13c9.html?services=our-services-6">
            <h3> Healthcare  <i class=" fi flaticon-medical "></i></h3>
            <p> We’re the leading consulting partner to the private equity industry and its key stakeholders. We advise investors across the entire investment life cycle. </p>
            </a>
        </div>
    </div>
</div>