<div class="lower-topbar">
  <div class="container">
    <div class="row lower-topbar">
      <div class="col col-sm-3 col-xs-3">
        <a class="logo" href="../index.html">
          <img src="assets/images/logo.png" alt="image" style="width: 55px;">
        </a>
      </div>
      <div class="col col-sm-9 hidden-xs">
        <div class="company-info">
          <ul>
            <li>
              <span class="fi flaticon-pin"></span>
              <h5 class="topping">Address</h5>
              <span class="info">Puthuvype, Ernakulam, Kerala 682508</span>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>