 <div class="lower-topbar">
  <div class="container">
    <div class="row lower-topbar">
      <div class="col col-sm-3">
        <a class="logo" href="../index.html">
          <img src="assets/images/logo.png" alt="image" style="width: 55px;">
        </a>
      </div>
      <div class="col col-sm-9">
        <div class="company-info">
          <ul>
            <li>
              <span class="fi flaticon-time"></span>
              <h4>Opening hours</h4>
              <span class="info">Mon - Fri: 9 am - 7 pm</span>
            </li>
            <li>
              <span class="fi flaticon-technology"></span>
              <h4>Opening hours</h4>
              <span class="info">+12  822 (1861) 192</span>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</div>  