<section class="page-title" style="background: url(/assets/images/img-8-1.jpg) center center/cover no-repeat local;">
    <div class="container">
        <div class="title-box">
            <h1>
              Program 1         </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li> Program 1</li>
            </ol>
        </div>
    </div> <!-- end container -->
</section>

<section class="case-studies-s2-content-wrapper section-padding2">
            <div class="container">
                  <div class="row">
                    <div class="col col-md-12 case-studies-s2-content">
                        <div class="row">
                        <div class="col col-lg-5 col-sm-6">
                        <div class="img-holder">
                            <a href="">
                            <img src="/assets/images/img-1-14.jpg" class="img img-responsive">
                            </a>
                   </div>
               </div>
                    <div class="col col-lg-7 col-sm-6">
                        <div class="details">
                            <h3> Program 1 </h3>
                            <span>
                            <h3>Date: 07-03-2018 to 09-03-2018</h3>   
                            <h3>Venue: Petronet LNGAcademy</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></span>
                            <div class="">
                            <button type="button" class="btn wpcf7-form-control wpcf7-submit read-more" data-toggle="modal" data-target="#myModal" style="color: #fff;">Join Now</button>
                             </div>
                         </div>
                     </div>
                  </div>
               </div>
              </div>   
           </div>
<!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                     <div class="modal-content">
                     <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Instruction for joining</h4>
                   </div>
                <div class="modal-body">
                     <h5>Instruction for joining.</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <h5>Instruction for joining.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                 <div class="contact-form">
                 <form action="" method="post" class="wpcf7-form">
                 <div style="display: none;">
                 <input type="hidden" name="_wpcf7" value="97" />
                 <input type="hidden" name="_wpcf7_version" value="4.6" />
                 <input type="hidden" name="_wpcf7_locale" value="en_US" />
                 <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f97-p317-o1" />
                 <input type="hidden" name="_wpnonce" value="3b7213b8fe" />
             </div>
                 <div class="form" id="contact-form">
             <div>
                 <input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="Full Name" />
             </div>
             <div>
                 <input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control color-box" aria-required="true" aria-invalid="false" placeholder="Email" />
              </div>
               <div>
                 <input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="Name of the bank" />
             </div>
              <div>
                 <input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="Payment Reference number" />
             </div>
             <div>
                 <input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="Date of payment" />
             </div>
             <div>
                 <input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="Mode of payment" />
             </div>
             <!-- <div>
                 <span class="wpcf7-form-control-wrap topic color-boxx"><select name="topic" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false"><option value="Select topic">Select topic</option><option value="Topic 1">Topic 1</option><option value="Topic 2">Topic 2</option><option value="Topic 3">Topic 3</option></select></span>
                </div>
                <div>
                <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="write"></textarea></span>
                </div> -->
               <div class="submit-btn">
               <div class="btn-wrapper">
               <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit btn" /><br />
               <span id="loader"><img src="" alt="Loader"></span>
              </div>
              </div>
              </div>
              <div class="wpcf7-response-output wpcf7-display-none">
                     </div>
                 </form>
               </div>
             </div>
          </div>
        </div>
      </div>
                  
                         
             <section>
                <div class="container">
                    <div class="row">
                 <div class="col-md-12" style="margin-top: 5%;">
                 <div class="apply-job">
                      <h2>Feedback</h2>
                      <div role="form" class="wpcf7" id="wpcf7-f260-p252-o1" lang="en-US" dir="ltr">
                       <div class="screen-reader-response"></div>
                       <form action="" method="post" class="wpcf7-form" enctype="multipart/form-data">
                       <div style="display: none;">
                       <input type="hidden" name="_wpcf7" value="260" />
                       <input type="hidden" name="_wpcf7_version" value="4.6" />
                       <input type="hidden" name="_wpcf7_locale" value="en_US" />
                       <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f260-p252-o1" />
                        <input type="hidden" name="_wpnonce" value="7b320a11fd" />
                       </div>
                       <div class="form row">
                        <div class="col col-md-6">
                                    <input type="text" name="firstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="First name.." />
                                </div>
                  <div class="col col-md-6">
                                    <input type="text" name="lastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="Last name.." />
                                </div>
                  <div class="col col-md-6">
                                    <input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control color-box" aria-required="true" aria-invalid="false" placeholder="Email" />
                                </div>
                  <div class="col col-md-6">
                                    <input type="email" name="zip" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control color-box" aria-required="true" aria-invalid="false" placeholder="Zip" />
                                </div>

                  <div class="col col-xs-12">
                                    <span class="wpcf7-form-control-wrap messenger"><textarea name="messenger" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control color-box" aria-required="true" aria-invalid="false" placeholder="Something about yourself.."></textarea></span>
                                </div>
                  <div class="col col-xs-12 submit-btn">
                                    <input type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit btn" />
                                </div></div>
                  <div class="wpcf7-response-output wpcf7-display-none">
                      </div>
                      </form>
                      </div>
                   </div>                  
               </div>
             </div>
          </div>
     </section>     
                                    
              
           