<section class="page-title" style="background: url(/assets/images/img-7.jpg) center center/cover no-repeat local;">
    <div class="container">
        <div class="title-box">
            <h1>About us</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="http://themexriver.net/consult-expert-wp-multi/">Home</a>
                </li>
                <li>About us</li>
            </ol>
        </div>
    </div>
</section>
<section class="about-company-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12 col-md-8">
                <div class="section-title row">
                    <div class="col col-xs-12">
                        <h2>About company</h2>
                    </div>
                    <div class="col col-md-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="mission">
                    <div class="title row">
                        <div class="col col-md-4">
                            <div class="section-title">
                                <h2>Our mission</h2>
                            </div>
                        </div>
                        <!-- <div class="col col-md-8">
                <p>We are redefining social impact globally, locally and individually. As you’ll see on our Social Impact website, we address the world's most pressing social issues through our multifaceted, global program focused on driving broad, enduring change.</p>
            </div>-->
                    </div>
                    <div class="row details">
                        <div class="col col-md-7 left-col">
                            <ul>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Strategy experience and analytical expertise.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Realizing the full potential of IT investments and assets.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Predicting and managing risk.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Linking corporate strategy.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Enabling companies to grow revenue.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Advising investors across the entire investment period.</li>
                            </ul>
                        </div>
                        <div class="col col-md-5 right-col" style="background: url(&quot;/assets/images/about-page-video-bg.jpg&quot;) center center / cover no-repeat local; height: 279px;">
                            <a href="https://www.youtube.com/embed/opj24KnzrWo?autoplay=1" class="video-btn" data-type="iframe">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mission">
                    <div class="title row">
                        <!-- <div class="col col-md-8">
                <p>We are redefining social impact globally, locally and individually. As you’ll see on our Social Impact website, we address the world's most pressing social issues through our multifaceted, global program focused on driving broad, enduring change.</p>
            </div>-->
                        <div class="col col-md-4">
                            <div class="section-title">
                                <h2>Our Vision</h2>
                            </div>
                        </div>

                    </div>
                    <div class="row details">
                        <div class="col col-md-5 right-col" style="background: url(&quot;/assets/images/about-page-video-bg.jpg&quot;) center center / cover no-repeat local; height: 279px;">
                            <a href="https://www.youtube.com/embed/opj24KnzrWo?autoplay=1" class="video-btn" data-type="iframe">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="col col-md-7 left-col" style="text-align: right;">
                            <ul style="text-align: left;">
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Strategy experience and analytical expertise.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Realizing the full potential of IT investments and assets.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Predicting and managing risk.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Linking corporate strategy.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Enabling companies to grow revenue.</li>
                                <li>
                                    <i class="fa fa-chevron-circle-right"></i> Advising investors across the entire investment period.</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>