<section class="fun-fact start-count" style="background: url(images/fun-fact-bg.jpg) center center/cover no-repeat local;">
    <div class="container">
        <div class="row content">
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3><span class="counter" data-count="2126">26</span></h3>
                    <p>Programs</p>
                </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                    <div class="box">
                        <h3><span class="counter" data-count="1629">60</span></h3>
                        <p>Sessions</p>
                    </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3><span class="counter" data-count="918">200</span></h3>
                    <p>Candidates</p>
                </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3><span class="counter" data-count="2591">20</span></h3>
                    <p>Speakers</p>
                </div>
            </div>
        </div>
    </div>
</section>