<section class="fun-fact start-count" style="background: url(images/fun-fact-bg.jpg) center center/cover no-repeat local;">
    <div class="container">
        <div class="row content">
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3><span class="counter" data-count="2126">00</span></h3>
                    <p>Projects</p>
                </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                    <div class="box">
                        <h3><span class="counter" data-count="1629">00</span></h3>
                        <p>Clients</p>
                    </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3><span class="counter" data-count="918">00</span>k</h3>
                    <p>Stocks</p>
                </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3><span class="counter" data-count="2591">00</span></h3>
                    <p>Members</p>
                </div>
            </div>
        </div>
    </div>
</section>