<section class="fun-fact start-count" style="background: url(images/fun-fact-bg.jpg) center center/cover no-repeat local;">
    <div class="container">
        <div class="row content">
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3>
                        <ng2-odometer class="counter" [number]="12"></ng2-odometer>
                    </h3>
                    <p>Programs</p>
                </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3>
                        <ng2-odometer class="counter" [number]="60"></ng2-odometer>
                    </h3>
                    <p>Sessions</p>
                </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3>
                        <ng2-odometer class="counter" [number]="200"></ng2-odometer>
                    </h3>
                    <p>Candidates</p>
                </div>
            </div>
            <div class="col col-sm-3 col-xs-6">
                <div class="box">
                    <h3>
                        <ng2-odometer class="counter" [number]="20"></ng2-odometer>
                    </h3>
                    <p>Speakers</p>
                </div>
            </div>
        </div>
    </div>
</section>