<section class="page-title" style="background: url(/assets/images/img-1-11.jpg) center center/cover no-repeat local;">

        <div class="container">

            <div class="title-box">

                <h1>Gallery</h1>

                <ol class="breadcrumb">

                    <li><a href="index.html">Home</a></li>

                    <li>Gallery</li>

                </ol>

            </div>

        </div> <!-- end container -->

    </section>

    <!-- end page-title -->

<section class="featured section-padding">

                  <div class="container">

                      <div class="row content">
			
        
        <div class="col col-lg-4 col-xs-6">

            <div class="grid">

                <div class="img-holder">

                    
                      <img src="/assets/images/img-3-1.jpg" class="img img-responsive">

                    
                </div>

                <div class="details">

                <a href="programs.html">

                    <h3>image 1  </h3>

                   
                </a>

                </div>

            </div>

        </div>

        
        <div class="col col-lg-4 col-xs-6">

            <div class="grid">

                <div class="img-holder">

                    
                      <img src="/assets/images/img-2-2.jpg" class="img img-responsive">

                    
                </div>

                <div class="details">

                <a href="programs.html">

                    <h3> image 2 </h3>

                   

                </a>

                </div>

            </div>

        </div>

        
        <div class="col col-lg-4 col-xs-6">

            <div class="grid">

                <div class="img-holder">

                    
                      <img src="/assets/images/img-2-2.jpg" class="img img-responsive">

                    
                </div>

                <div class="details">

                <a href="">

                    <h3>image 3</h3>

                 

                </a>

                </div>

            </div>

        </div>

    
        
</div>

                  </div>

                    </section>