<div class="upper-topbar">
  <div class="container">
    <div class="row">
      <div class="col col-md-7 contact-info">
        <ul>
          <li><i class="fi flaticon-letter"></i> contact@live.com</li>
          <li><i class="fi flaticon-pin"></i> 1012 EX Amsterdam, Netherlands</li>
        </ul>
      </div>
      <div class="col col-md-5">
        <div class="login-language">
          <div class="login-register">
            <span class="fi flaticon-key"></span>
              <ul>
                <li><a  [routerLink]="['/login']" >Login</a></li>
                <li><a  [routerLink]="['/register']">Register</a></li>
              </ul>
            </div>
            <div class="language">
              <span>Lang: </span>
              <form>
                <select class="selectpicker">
                  <option>ENG</option>
                  <option>TUK</option>
                  <option>SPH</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div>