<header class="site-header">
    <app-top-header></app-top-header>
    <app-lower-top-bar></app-lower-top-bar>
    <app-nav-bar></app-nav-bar>
</header>
<router-outlet>
    
</router-outlet>
<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-sm-6">
                    <div id="text-13">
                        <div class="textwidget">
                            <div class="widget about-widget">
                                <a href="#" class="footer-logo">
                                    <img src="/assets/images/logo-footer.png" alt class="img img-responsive" style="width: 75px;">
                                </a>
                                <p>Perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque.</p>
                                <div class="office-time">                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-sm-6">
                    <div id="text-15">
                        <div class="textwidget"><div class="widget site-map-widget">
                            <h4>Links</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Programs</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-sm-6">
                    <div class="contact-info">
                        <h4>Reach Us</h4>
                        <ul>
                            <li class="foot-padding">
                                        <span class="icon">
                                        </span>
                                        <div class="wid">
                                            <i class="fi flaticon-home space-icn"></i>    Puthuvype, Ernakulam, <span style="margin-left:33px;">Kerala 682508</span>
                                        </div>
                                    </li>
                                 <li class="foot-padding">
                                        <span class="icon">
                                        </span>
                                    <div class="wid">
                                       <i class="fi flaticon-telephone space-icn"></i>+1 617 572 2000
                                    </div>
                                </li>
                                    <li class="foot-padding">
                                        <span class="icon">
                                        </span>
                                        <div class="wid">
                                             <i class="fi flaticon-mail-black-envelope-symbol space-icn"></i>    info@lnga.com
                                        </div>
                                    </li>
                                 </ul>
                            </div>
                       </div>
		<div class="col col-lg-3 col-sm-6">
            <div id="text-17">			
                <div class="textwidget">
                     <div class="widget social-media-widget">
                                <h4>Social media</h4>
                                <ul class="">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                 </ul>
                            </div>
                        </div>
		            </div>  
                </div>
              </div> <!-- end row -->
             </div> <!-- end container -->
           </div> <!-- end upperfooter -->

                <div class="copyright">
                    <div class="container">
                        <div class="col col-md-6">
                            <p>2017 © All rights reserved by <a href="">Rexav</a></p>
                               </div>
                              <div class="col col-md-6">
                             <ul>
 	                          <li><a href="#">Legal</a></li>
 	                          <li><a href="#">Sitemap</a></li>
                         	  <li><a href="#">Privacy Policy</a></li>
                                  </ul>                    
                              </div>
                         </div>
                    </div>
             </footer>