@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.mobile-top{
	margin-top: -96px;
}
}
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
.mobile-top{
	margin-top: -96px;
}
}
@media only screen and (min-device-width : 270px) and (max-device-width : 319px) {
.mobile-top{
	margin-top: -86px;
}
}