<mat-toolbar>
  Welcome to test
  <div class="spacer"></div>
  
</mat-toolbar>
<div fxLayout="row" style="height: 100px;" fxLayout.lt-md="column" fxLayoutAlign="space-around center" >
<mat-paginator [length]="100"
              [pageSize]="10"
              [showFirstLastButtons]="true"
              (page)="pageEvent = $event"
              [pageSizeOptions]="false">
</mat-paginator>
<div style="color:red">Time Left: {{minute}} mm: {{seconds}} s</div> &nbsp;
</div>
<div style="width:100%;height: 80%;overflow-x:scroll; ">
  <mat-card *ngFor="let q of (questions|paging:pageEvent?.pageIndex:pageEvent?.pageSize); let i = index">
    <mat-card-content>
      <p><b>Q.{{(pageEvent?.pageIndex*pageEvent?.pageSize)+1}}&nbsp; </b>
          {{q.q}}
      </p>
      <mat-radio-group class="example-radio-group" [(ngModel)]="q.sele">
        <mat-radio-button class="example-radio-button" *ngFor="let op of q.o" [value]="op.key">
          {{op.option}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
<div class="button-row">
    <button mat-raised-button button *ngIf="startTest" color="warn">Submit My Test</button>
    <button mat-raised-button button *ngIf="!startTest" (click)="startTimer()" color="primary">Start Test</button>
</div>
