<section class="services section-padding" >
    <div class="container">
        <div class="row section-title">
            <div class="col col-md-8 col-md-offset-2">
                <h2>Why Choose Us</h2>
                
            </div>
        </div>
        <div class="row content services-grids" *ngFor="let i of [1,2]">
            <div class="col col-lg-4 col-sm-6" *ngFor="let j of [1,2,3]">
                <div class="grid">
                    <div class="icon">
                        <i class="fi flaticon-money-1"></i>
                    </div>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
            </div>
          </div>
        </div>
 
</section>