<section class=" page-title " style="overflow:hidden;">
    <div class="sp-container ">
        <video poster="/assets/images/polina.jpg" id="bgvid" playsinline autoplay muted loop>
            <source src="assets/video.webm" type="video/webm">
            <source src="assets/video.mp4" type="video/mp4">
        </video>
        <div class="sp-content">
            <div class="sp-globe"></div>
            <h2 class="frame-1">ALL TEXT</h2>
            <h2 class="frame-2">SHOWN ARE DUMMY</h2>
            <h2 class="frame-3">GOES HERE!!</h2>
            <h2 class="frame-4">FOR LNG </h2>
            <h2 class="frame-5">
                <span>MADE</span>
                <span>By,</span>
                <span>REXAV.</span>
            </h2>
            <a class="sp-circle-link" href="http://rexav.in/">by rexav</a>
        </div>
    </div>
</section>
<section class="about-us-section about-us-section-style2 section-padding-about" style="background: url(/assets/images/about-style2-bg.jpg) right bottom/80% no-repeat local;">
    <div class="container">
        <div class="row section-title">
            <h2>The LNGA</h2>
        </div>
        <div class="row content">
            <div class="col col-md-7">
                <div class="box">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <div class="signature">
                        <img src="/assets/images/signature-1.jpg" alt class="img img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured section-pad">
    <div class="container">
        <div class="row content">
            <app-home-ticker></app-home-ticker>
        </div>
    </div>
</section>
<section class="featured section-padding-box">
    <div class="container">
        <div class="row content">
            <div class="row section-title">
                <div class="col col-md-8 col-md-offset-2">
                    <h2>Upcoming Programs</h2>
                </div>
            </div>
            <app-home-box [title]="'Program 1'"></app-home-box>
        </div>
    </div>
</section>
<app-home-we-proivde-box></app-home-we-proivde-box>
<section class="testimonials section-padding" style="background: url(/assets/images/bg.jpg) center center/cover no-repeat fixed;">
    <div class="container">
        <div class="row">
            <div class="col col-md-4 left-col">
                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>We deliver true results, focusing on strategic decisions and practical actions tailored to our clients'
                        unique reality. We engage all levels of an organization from day one.</p>
                </div>
                <a href="#" class="btn theme-btn">View more</a>
            </div>
            <div class="col col-md-8">
                <div class="testimonials-slider">
                    <div class="box">
                        <div class="client-pic">
                            <img src="/assets/images/img-1-5.jpg" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <h4>Amy Adams</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>We&#039;ve worked with the majority of the Global 500, thousands of major regional and local
                                organizations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>