<section class=" page-title " style="height: 700px;">
  <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
    <source src="assets/video.mp4" type="video/webm">
  </video>

  <div class="sp-container">
    <div class="sp-content">
      <div class="sp-globe"></div>
      <h2 class="frame-1">ALL TEXT</h2>
      <h2 class="frame-2">SHOWN ARE DUMMY</h2>
      <h2 class="frame-3">GOES HERE!!</h2>
      <h2 class="frame-4">FOR LNG </h2>
      <h2 class="frame-5">
        <span>MADE</span>
        <span>By,</span>
        <span>REXAV.</span>
      </h2>
      <a class="sp-circle-link" href="https://nick.mkrtchyan.ga">by rexav</a>
    </div>
  </div>
</section>

<section class="about-us-section about-us-section-style2 section-padding-about" style="background: url(/assets/images/about-style2-bg.jpg) right bottom/80% no-repeat local;">

                    <div class="container">

                        <div class="row section-title">

                            <h2>About company</h2>

                        </div> <!-- end section-title -->

                

                        <div class="row content">

                            <div class="col col-md-7">
      
        <div class="box">

            <h3>We advise global leaders on their most critical issues and opportunities</h3>

            <p>Consult Expert is one of the world&#039;s leading management consulting firms. We work with top executives to help them make better decisions, convert those decisions to actions and deliver the sustainable success they desire. For more than 40 years, we&#039;ve been passionate about achieving better results for our clients.</p>

            <p>We&#039;ve worked with the majority of the Global 500, thousands of major regional and local organizations, hundreds of nonprofits, and private equity funds representing 75 percent of global equity capital.</p>

            <div class="signature">

                <img src="/assets/images/signature-1.jpg" alt class="img img-responsive">

            </div>

        </div>

</div>

                  </div> <!-- end row -->

                    </div> <!-- end container -->

                      </section>
<section class="featured section-padding">
  <div class="container">
    <div class="row content">
      <app-home-box></app-home-box>
      <app-home-box></app-home-box>
      <app-home-box></app-home-box>
      
    </div>
  </div>
</section>

<app-home-we-proivde-box></app-home-we-proivde-box>
<app-home-ticker></app-home-ticker>
    